.container {
  height: 500px;
}

.container .title {
  font-size: 18px;
  font-weight: bold;
}

.container .introduce {
  margin-bottom: 10px;
}

.container .link {
  color: #007fff !important;
}

.container .middle .csdn .innerCSDN {
  font-size: 16px;
  font-weight: bold;
}

.container .middle .github {
  margin-bottom: 15px;
}

.container .middle .github .innnerIcon {
  font-size: 16px;
  font-weight: bold;
}

.container .bottom .wechat {
  font-weight: bold;
}

.container .bottom .emailInfo {
  font-weight: bold;
}
