.navbar {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;

    .logoArea {
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        cursor: pointer;
        .logo {
            width: 100%;
            height: 100%;
        }
    }

    .linkArea {
        span {
            font-size: 18px;
            padding: 0 20px;
            color:#555;
        }
        .active {
            color:#1890ff; 
        }
    }

    .operationArea {
        margin-left: 150px;
        button {
            margin-right: 20px;
        }
    }
}
