.container {
    .title {
        font-size: 18px;
        font-weight: bold;
    } 
    .introduce {
        margin-bottom: 10px;
    }
    .techStack {
        .nextJs {
            font-weight: bold;
        }
        .react {
            font-weight: bold;
        }
       
    }
    .url {
        font-weight: bold;
    }
}