.editLink {
  color: #1890ff !important;
}

.title {
  font-size: 30px;
  font-weight: bolder;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.user .info {
  margin-left: 10px;
}

.user .info .name {
  font-size: 14px;
  font-weight: bold;
}

.user .info .date {
  font-size: 12px;
  color: #8a919f;
  display: flex;
}

.user .info .date div {
  margin-right: 15px;
}

.markdown img {
  width: 100%;
}

.devider {
  background-color: #f2f3f5;
  height: 20px;
}

.enter {
  display: flex;
}

.enter .avatar {
  margin-right: 20px;
}

.enter .content {
  width: 93%;
}

.enter .content .input {
  background-color: #f2f3f5;
  border-radius: 5px;
  margin-bottom: 15px;
}

.commentTitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.display {
  margin-top: 80px;
}

.display .wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.display .wrapper .info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

.display .wrapper .info .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}

.display .wrapper .info .name .date {
  color: #8a919f;
  font-weight: normal;
}

.display .wrapper .content {
  margin-top: 10px;
}
