.container {
  margin: 0 auto;
}

.container .operation {
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.container .operation .title {
  width: 70%;
}

.container .operation .tag {
  width: 25%;
}

.container .operation .button {
  width: 5%;
}
