.container {
    margin:0 auto;

    .operation {
        margin-bottom: 1px;
        display:flex;
        justify-content: space-between;
        .title {
            width: 70%;
        }

        .tag {
            width: 25%;
        }

        .button {
            width: 5%;;
        }
    }
}