.tags {
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .tag {
      padding: 10px;
      height: 30px;
      border-radius: 5px;
      background-color: #fff;
      margin-right: 10px;
      display: flex;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
    }
  
    .active {
      background-color: #007fff;
      color: #fff;
    }
  }


  .page404Container {
    display: flex;
    height: 600px;
    background-color: #fff;
    .left {
      margin-top: 200px;
      margin-left: 350px;
      width: 400px;
      .title {
        font-size:25px;
        font-weight: bold;
      }
      .errCode {
        font-size: 20px;
      }
      .navigator {
        margin-top: 20px;
        font-size: 20px;
      }

    }

    .right {
      width: 400px;
      margin-left: 50px;
      img {
        margin-top: 80px;
      }
    }
  }
  