@import "antd/dist/antd.css";

body {
    background-color: #f2f3f5;
}

.content-layout {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

a {
    color: #000 !important;
}
