.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 50px;
  margin-top: 20px;
}

.tags .tagWrapper {
  width: 220px;
  height: 200px;
  border: 1px solid #f3f3f3;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
  border-radius: 5px;
}

.tags .tagWrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tags .tagWrapper svg {
  width: 56px;
  height: 56px;
}

.tags .tagWrapper .title {
  font-size: 15px;
  font-weight: bold;
}

.tags .tagWrapper .operate {
  margin-bottom: 5px;
}
